/*Able for image to be in the background*/
.bg-img1 {
    background-image: url("IndexImages/Background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: white;
}

.bg-img2 {
    background-image: url("IndexImages/background2.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: white;
}

body {
    background-color: #222222;
    color: white;
    font-family: 'Amazing Grotesk', sans-serif;
    height: 100%;
    animation: load 400ms ease-in; 
}

html {
    height: 100%;
}

.logo {
    height: 10%;
    top: 7%;
    left: 8%;
    transform: translate(15%, 20%);
}

.topnav {
    position: absolute;
    top: 6%;
    left: 18%;
    animation: load 400ms ease-in; 
}

a {
    color: white;
    font-size: 1.5vw;
    font-family: 'Amazing Grotesk', sans-serif;
    font-weight: 550;
    font-optical-sizing: auto;
    padding: 30px;
    text-decoration: none;
    
}

.topnav a:hover {
    background-color: rgb(121, 106, 255);
}

.title-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: 900;
    font-optical-sizing: auto;
}

.subtitle-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    font-weight: 600;
    font-optical-sizing: auto;
}

.icons img {
    top: 75%;
    left: 1%;
    transform: translate(1vw, 25vw);
    padding-right: 2%;
    width: 12%;
}

.intro-title{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 800;
}

.intro-paragraph {
    position: absolute;
    top: 126%;
    left: 20%;
    transform: translate(-11%, -50%);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #00000059;
}

h2 {
    padding-top: 5%;
    margin-left: 2%;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: 800;
    margin-left: 2%;
    margin-top: 3%;
}

h4 {
    font-size: 1em;
    font-weight: 600;
    margin-left: 2%;
    text-align: center;
    width: 90%;
}

p {
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 2%;
    width: 70%;
}


footer {
    color: white;
    background-color: #000000;
    left: 50%;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

/*info page*/
.images-container {
    max-width: 80%;
    margin: 75px auto;
    display: flex;
}

.images-container img {
    width: 100%;
}

.gif {
    float: right;
    margin: 3%;
    transform: translate(-1vw, -9vw);
}

.cover {
    width: 100%;
    display: flex;
    margin-left: 2%;
}

.box {
    margin-top: -6%;
}

.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 1%;
}

.scroll-container img {
    width: 20%;
    padding: 20px;
}

/*archon page*/
.archon-name {
    text-align: left;
    margin-left: 10%;
    padding-top: 2%;
}

.archon-desc {
    width: 25%;
    margin-left: 10%;
    font-size: 1.1em;
    text-align: left;
}

.archon-character img {
    float: right;
    width: 25%;
    padding-right: 2%;
    transform: translateY(-5%);
}

section {
    padding-bottom: 1%;
    margin-bottom: 10%;
}

iframe {
    float: right;
    width: 25%;
    padding-right: 7%;
    transform: translateY(20%);
}

/*fade in*/
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}
