.container {
    background-image: url("Background.png");
    background-color: #cccccc;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: white;
}

.logo {
    position: absolute;
    height: 100px;
    top: 5%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.title-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Amazing Grotesk', sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
}

.subtitle-text {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Amazing Grotesk', sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
}

.topnav {
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    
}

a {
    color: white;
    font-size: 25px;
    font-family: 'Amazing Grotesk', sans-serif;
    font-weight: 550;
    font-optical-sizing: auto;
    padding: 30px;
    text-decoration: none;
}

.icons {
    position: absolute;
    top: 55%;
    left: 1%;
    transform: translate(0%, -50%);
    padding: 20px;
}